RewriteEngine on

RewriteCond %{REQUEST_URI} /modules/.*/controller/ajax/.*.php
RewriteRule .* fileIndex.php

RewriteCond %{REQUEST_URI} /modules/.*/controller/.*.php
RewriteRule .* fileIndex.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L,QSA]