.block_name {
    cursor: pointer;
}
.fixed-button {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
    transition: right 0.5s;
    z-index: 1;
}

.panel {
    display: none;
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(167, 164, 164, 0.5);
    border: 1px solid #000;
    padding: 10px;
    max-width: 500px;
    z-index: 1;
}

.panel.show {
    height: 80%;
    display: block;
}

.dice-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%; /* Добавленное свойство */
    height: 100%; /* Добавленное свойство */
    justify-content: center; /* Добавленное свойство */
    border: 1px solid #000;
}

.dice-icons span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 5px;
    cursor: pointer;
}

.dice-icon div {
    border: 1px solid black;
    text-align: center;
}

.dice-icon p {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    background-color: rgba(167, 164, 164, 0.71);
}

.field_name::after {
    content: ":";
}

.field input {
    width: 50%;
    display: inline;
}